<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegisterManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws-2016cpresent/SmartRegistryAPI/RegisterManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegisterManagementService"
                contract="RegisterManagementServiceReference.IRegisterManagementService"
                name="BasicHttpBinding_IRegisterManagementService" />
        </client>
    </system.serviceModel>
</configuration>