<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EO.Pdf" version="20.3.34" targetFramework="net472" />
  <package id="FastMember.Signed" version="1.5.0" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="RegiX.Adapters.Common" version="1.0.70" targetFramework="net472" />
  <package id="RegiX.Adapters.ConfigParameterStore" version="1.0.12" targetFramework="net472" />
  <package id="RegiX.Adapters.LogstashLogger" version="1.0.10" targetFramework="net472" />
  <package id="RegiX.Adapters.WCFAdapterHost" version="1.0.34" targetFramework="net472" />
  <package id="RegiX.BaseSigner" version="1.0.14" targetFramework="net472" />
  <package id="RegiX.Common" version="1.0.47" targetFramework="net472" />
  <package id="RegiX.Processors.PDFResponseProcessor" version="1.0.13" targetFramework="net472" />
  <package id="RegiX.SecureBlackBox.CertFinder.WinStore" version="1.0.22" targetFramework="net472" />
  <package id="RegiX.SecureBlackBoxSigner" version="1.0.22" targetFramework="net472" />
  <package id="RegiX.WebServiceAdapterService" version="1.0.43" targetFramework="net472" />
  <package id="SecureBlackbox" version="16.0.330" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="5.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.8.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.8.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net472" />
</packages>