<footer>
    <img src="/SmartRegistryPublic/Assets/images/eu.png" alt="">
        <ul>
            <li><a href="#">Условия за ползване</a></li>
            <li><a href="#">Достъпност</a></li>
            <li><a href="#">Статистика</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
</footer>