<footer>
    <img src="/SmartRegistryPublic/Assets/images/eu.png" alt="">
        <ul>
            <li><a href="#">@Resources.Content.ResourceManager.GetString("footer_terms")</a></li>
            <li><a href="#">@Resources.Content.ResourceManager.GetString("footer_access")</a></li>
            <li><a href="#">@Resources.Content.ResourceManager.GetString("footer_stats")</a></li>
            <li><a href="#">@Resources.Content.ResourceManager.GetString("footer_contact")</a></li>
        </ul>
</footer>