<footer class="footer" style="position:absolute !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>@DateTime.Now.Year  © SmartRegister. | Created By ORAK R6 EGOV SMART REGISTRY - Ver 20.12.2022</p>
            </div>
        </div>
    </div>
</footer>
